@model MvcEmpAdoDemo.Models.Employee
@{
    ViewData["Title"] = "New Employee";
}
<h2>Add New</h2>  
<h4>Employee</h4>  
<hr />
<div class="row">    
    <div class="col-md-4">    
        <form asp-action="Add"> 
            <div class="form-group">    
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" required="true"/>
            </div>    
            <div class="form-group">    
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" required="true"/>
            </div>  
            <div class="form-group">    
                <label asp-for="Jabatan" class="control-label"></label>
                <select asp-for="Jabatan" class="form-control">
                    <option value="">-- Jabatan --</option>    
                    <option value="CEO">CEO</option>      
                    <option value="Karyawan">Karyawan</option>    
                    <option value="Leader">Leader</option>  
                </select>    
            </div>
            <div class="form-group">    
                <input type="submit" value="Add" class="btn btn-default" />    
            </div>    
        </form>    
    </div>    
</div>    
<div>    
    <a asp-action="Index">Back to List</a>    
</div>